.box-container {
  padding-bottom: 20rem;
}

.box {
  width: 12rem;
  height: 12rem;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
