.box-container {
  padding-bottom: 12rem;

  button {
    color: #fff;
    padding: 1rem;
    margin-right: 1.5rem;
    margin-bottom: 3rem;
    border: none;
    background-color: #0099ff;
    font-size: 1.1rem;
    font-weight: 700;
    width: 10rem;
    cursor: pointer;
  }
}

.box {
  width: 12rem;
  height: 12rem;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .boxItem {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    list-style: none;
    padding: 1rem;
    margin: 0.5rem;
  }
}
